<!DOCTYPE html>
<html>
<head>
    <title>To-Do Page</title>
</head>
<body>
    <h1>To-Do Form</h1>
    <form id="todoForm">
	<label for="itemID">Item ID:</label><br>
	<input type="text" id="itemID" name="itemID"><br><br>
        <label for="itemUUID">Item UUID:</label><br>
	<input type="text" id="itemUUID" name="itemUUID"><br><br>
	<label for="itemDescription">Item Description:</label><br>
        <textarea id="itemDescription" name="itemDescription"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>

    <script>
        const form = document.getElementById("todoForm");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const itemName = document.getElementById("itemName").value;
            const itemDescription = document.getElementById("itemDescription").value;

            const response = await fetch("/submittodoitem", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ itemName, itemDescription })
            });

            const data = await response.json();
            alert(data.message);
        });
    </script>
</body>
</html>
